.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: var(--default-width);
  height: 41.875rem;
  padding: 0 var(--default-padding-right) 0 var(--default-padding-left);
  position: relative;
  top: 9.5rem;
}

.hero_images {
  position: relative;
  width: 50%;
  height: 100%;
}

.hero_content {
  width: 50%;
}

.hero_title {
  width: 21.024rem;
  height: 2rem;
  /* top: 9.969rem;
  left: 18.219rem; */
}

.hero h4 {
  font-family: Sora;
  size: 1.063rem;
  line-height: 2rem;
  text-transform: uppercase;
  color: var(--lady-blue);

  font-weight: 400;
  font-style: Regular;

  letter-spacing: 0%;
  vertical-align: middle;
  margin-bottom: 0.656rem;
}

.hero_heading {
  width: 43.639rem;
  height: 9rem;
  opacity: 1;

  /* top: 12.625rem;
  left: 18.219rem; */
}

.hero_content h1 {
  font-family: Epilogue;
  font-size: 3.75rem;
  line-height: 4.5rem;
  color: var(--primary-color);
  margin-bottom: 0.656rem;

  font-weight: 700;
  font-style: Bold;

  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
}

.hero_description {
  width: 30.479rem;
  height: 3.359rem;

  opacity: 1;
  /* top: 22.281rem;
  left: 18.219rem; */
}

.hero_content p {
  font-family: Sora;
  font-size: 0.938rem;
  line-height: 1.781rem;
  /* max-width: 30rem; */
  margin-bottom: 0.656rem;

  font-weight: 400;
  font-style: Regular;

  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--iron-black);
}

.hero_bg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 0;
}

.dot_image {
  position: absolute;
  bottom: 7.5rem;
  right: 5rem;
  z-index: 2;
}

.instructors_image {
  position: static;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.students_image {
  position: absolute;
  bottom: 0;
  right: 4rem;
  width: 20rem;
  z-index: 3;
}

.instructors_card {
  position: absolute;
  top: 7.5rem;
  right: 1.25rem;
  z-index: 4;
  background: white;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.book_image {
  position: absolute;
  bottom: 40px;
  right: 80px;
  z-index: 4;
}

.wave_icon {
  position: absolute;
  top: -1rem;
  right: 6rem;
  z-index: 2;
  width: 6rem;
  opacity: 0.8;
}
