:root {
  /* colors */
  --primary-color: #17254e;
  --secondary-color: #704fe6;
  --corona: #ffd25d;
  --zodiac-blue: #0e2a46;
  --lady-blue: #704fe6;

  /* units */
  --default-padding-left: 18.22rem;
  --default-padding-right: 18.22rem;

  --default-width: 118.938rem;

  --font-epilogue: "Epilogue", sans-serif;

  --font-sora: "Sora", sans-serif;
}
