@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Sora:wght@100..800&display=swap");

.page_header .banner {
  background-color: var(--primary-color);
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--default-padding-right) 0 var(--default-padding-left);
  width: var(--default-width);
}

.banner_socials {
  background-color: var(--corona);
  display: flex;
  list-style: none;
  width: 11.438rem;
  gap: 1.25rem;
  height: 100%;
  left: 89.281rem;
}

.banner_socials li {
  display: flex;
  align-items: center;
}

.banner_socials li:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.banner_contact_info {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  width: 61.5rem;
  height: 3.125rem;
  left: 18.219rem;
}

.banner_contact_item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0 1.188rem;
  border-right: 0.063rem solid #ffffff36;
  font-family: var(--font-sora);
  font-weight: 400;
  font-style: Regular;
  font-size: 17px;

  line-height: 17px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: white;
}

.banner_contact_item:last-child {
  border-right: none;
}
