@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Sora:wght@100..800&display=swap");

.page_header .banner {
  background-color: var(--primary-color);
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--default-padding-right) 0 var(--default-padding-left);
  width: var(--default-width);
}

.banner_socials {
  background-color: var(--corona);
  display: flex;
  list-style: none;
  width: 11.438rem;
  gap: 1.25rem;
  height: 100%;
  left: 89.281rem;
}

.banner_socials li {
  display: flex;
  align-items: center;
}

.banner_socials li:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.banner_contact_info {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  width: 61.5rem;
  height: 3.125rem;
  left: 18.219rem;
}

.banner_contact_item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0 1.188rem;
  border-right: 0.063rem solid #ffffff36;
  font-family: var(--font-sora);
  font-weight: 400;
  font-style: Regular;
  font-size: 17px;

  line-height: 17px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: white;
}

.banner_contact_item:last-child {
  border-right: none;
}

.navigations {
  padding: 0 var(--default-padding-right) 0 var(--default-padding-left);
  display: flex;

  align-items: center;
  height: calc(8.438rem - 3.125rem);
  width: var(--default-width);
}

.nav_logo {
  width: 13.75rem;
  height: 3.375rem;
  left: 18.219rem;
  top: 4.094rem;
  margin-right: 5.063rem;
}

.nav_links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 42.688rem;
  box-sizing: border-box;
  height: 5.313rem;
  left: 37.031rem;
  top: 3.125rem;
  margin-right: 7.044rem;
  padding-top: 0.625rem;
}

.nav_links li {
  color: var(--zodiac-blue);

  font-family: Sora;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.063rem;

  line-height: 1.063rem;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;

  cursor: pointer;
}

.nav_links li a {
  text-decoration: none;
  color: var(--zodiac-blue);
  border: 0.063rem solid transparent;
  padding: 0.313rem 0.75rem;
  white-space: nowrap;
}

.nav_links li:hover a,
.nav_links li a:target {
  border-radius: 6.25rem;
  border: 0.063rem solid var(--lady-blue);
  color: var(--lady-blue);
}
